{
  "openapi": "3.0.0",
  "info": {
    "title": "Openperplex API",
    "version": "0.2.0",
    "description": "API for Openperplex, providing enhanced search and website content retrieval capabilities."
  },
  "servers": [
    {
      "url": "https://44c57909-d9e2-41cb-9244-9cd4a443cb41.app.bhs.ai.cloud.ovh.net"
    }
  ],
  "paths": {
    "/search_stream": {
      "get": {
        "summary": "Stream search results",
        "operationId": "searchStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/dateContext"
          },
          {
            "$ref": "#/components/parameters/location"
          },
          {
            "$ref": "#/components/parameters/proMode"
          },
          {
            "$ref": "#/components/parameters/responseLanguage"
          },
          {
            "$ref": "#/components/parameters/answerType"
          },
          {
            "$ref": "#/components/parameters/searchType"
          },
          {
            "$ref": "#/components/parameters/verboseMode"
          },
          {
            "$ref": "#/components/parameters/returnCitations"
          },
          {
            "$ref": "#/components/parameters/returnSources"
          },
          {
            "$ref": "#/components/parameters/returnImages"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/search": {
      "get": {
        "summary": "Perform a search",
        "operationId": "search",
        "parameters": [
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/dateContext"
          },
          {
            "$ref": "#/components/parameters/location"
          },
          {
            "$ref": "#/components/parameters/proMode"
          },
          {
            "$ref": "#/components/parameters/responseLanguage"
          },
          {
            "$ref": "#/components/parameters/answerType"
          },
          {
            "$ref": "#/components/parameters/searchType"
          },
          {
            "$ref": "#/components/parameters/verboseMode"
          },
          {
            "$ref": "#/components/parameters/returnCitations"
          },
          {
            "$ref": "#/components/parameters/returnSources"
          },
          {
            "$ref": "#/components/parameters/returnImages"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplifiedSearchResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/custom_search_stream": {
      "post": {
        "summary": "Stream custom search results",
        "operationId": "customSearchStream",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCustomStreamRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/custom_search": {
      "post": {
        "summary": "Perform a custom search",
        "operationId": "customSearch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCustomStreamRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplifiedSearchResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/get_website_text": {
      "get": {
        "summary": "Get website text content",
        "operationId": "getWebsiteText",
        "parameters": [
          {
            "$ref": "#/components/parameters/url"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebsiteTextResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/get_website_screenshot": {
      "get": {
        "summary": "Get website screenshot",
        "operationId": "getWebsiteScreenshot",
        "parameters": [
          {
            "$ref": "#/components/parameters/url"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebsiteScreenShotResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/get_website_markdown": {
      "get": {
        "summary": "Get website content in markdown format",
        "operationId": "getWebsiteMarkdown",
        "parameters": [
          {
            "$ref": "#/components/parameters/url"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebsiteMarkdownResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/query_from_url": {
      "get": {
        "summary": "Query content from a specific URL",
        "operationId": "queryFromUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/url"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/responseLanguage"
          },
          {
            "$ref": "#/components/parameters/answerType"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQueryFromURLResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "query": {
        "name": "query",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "dateContext": {
        "name": "date_context",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "location": {
        "name": "location",
        "in": "query",
        "schema": {
          "type": "string",
          "default": "us"
        }
      },
      "proMode": {
        "name": "pro_mode",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "responseLanguage": {
        "name": "response_language",
        "in": "query",
        "schema": {
          "type": "string",
          "default": "auto"
        }
      },
      "answerType": {
        "name": "answer_type",
        "in": "query",
        "schema": {
          "type": "string",
          "default": "text"
        }
      },
      "searchType": {
        "name": "search_type",
        "in": "query",
        "schema": {
          "type": "string",
          "default": "general"
        }
      },
      "verboseMode": {
        "name": "verbose_mode",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "returnCitations": {
        "name": "return_citations",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "returnSources": {
        "name": "return_sources",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "returnImages": {
        "name": "return_images",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "url": {
        "name": "url",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "SimplifiedSearchResponse": {
        "type": "object",
        "properties": {
          "llm_response": {
            "type": "string"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "response_time": {
            "type": "number"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "SearchCustomStreamRequest": {
        "type": "object",
        "properties": {
          "system_prompt": {
            "type": "string"
          },
          "user_prompt": {
            "type": "string"
          },
          "location": {
            "type": "string",
            "default": "us"
          },
          "pro_mode": {
            "type": "boolean",
            "default": false
          },
          "search_type": {
            "type": "string",
            "default": "general"
          },
          "return_images": {
            "type": "boolean",
            "default": false
          },
          "return_sources": {
            "type": "boolean",
            "default": false
          },
          "temperature": {
            "type": "number",
            "default": 0.2
          },
          "top_p": {
            "type": "number",
            "default": 0.9
          }
        }
      },
      "GetWebsiteTextResult": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "response_time": {
            "type": "number"
          }
        }
      },
      "GetWebsiteScreenShotResult": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "response_time": {
            "type": "number"
          }
        }
      },
      "GetWebsiteMarkdownResult": {
        "type": "object",
        "properties": {
          "markdown": {
            "type": "string"
          },
          "response_time": {
            "type": "number"
          }
        }
      },
      "GetQueryFromURLResult": {
        "type": "object",
        "properties": {
          "llm_response": {
            "type": "string"
          },
          "response_time": {
            "type": "number"
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Invalid API Key"
      },
      "InternalServerError": {
        "description": "Unexpected error"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}